body {
    background-color: rgb(0, 0, 0);

}

ul {
    font-size: large;
    display: flex;
    justify-content: space-between;
    /*DEIXAR NA MESMA LINHA  */
    list-style-type: none;
    /*TIRAR A BOLINHA DA LATERAL DA LISTA */
    align-items: center;
    /*DEIXAR ALINHADO AO CENTRO  */
    justify-content: space-around;
}

nav {
    margin-top: 10px;
    /*largura da direita*/
    width: 74%;
    /* borda lateral esquerda*/
    margin: auto;
    background-color: rgb(255, 255, 255);
    align-items: flex-end;

}

a {
    /* tira o aspecto de link */
    text-decoration: none;
    color: rgb(2, 54, 54);
}